@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* global styles */
* {
  margin: 0;
  padding: 0;
}
main {
  margin: 0 168px;
}
.inter-font {
  font-family: "Inter", serif;
}
/* Header styles */
.header {
  font-family: "Merriweather", serif;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/bannerimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 720px;
  margin: 55px 168px 153px;
  color: white;
}
header .custom-paragraph {
  padding-top: 206px;
  font-size: 39px;
  font-weight: 400;
  margin-bottom: 20px;
}
header .custom-header {
  font-size: 87px;
  font-weight: 700;
}

/* Discount sale styles */
.discount-sale {
  margin: 0 477px;
  font-family: "Inter", serif;
}
.discount-sale-header {
  text-align: center;
  font-size: 100px;
  color: #ff0000;
  margin-bottom: 57px;
}
.description-title {
  text-align: center;
  font-size: 28px;
  color: #ff0000;
}
.description-head {
  font-size: 57px;
  color: #070211;
  margin-top: 19px;
  text-align: center;
  margin-bottom: 57px;
}
.discount-sale-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discount-img {
  display: block;
  margin: 0 auto;
}
/* Party section */
.midnight-party {
  border-radius: 19px;
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("../images/vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 60px 0 144px 0;
  height: 720px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.party-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.text-container {
  margin-left: 140px;
  margin-top: 100px;
}
.party-title {
  color: rgb(255, 255, 255);
  font-family: "Merriweather", serif;
  font-size: 85px;
  font-weight: 900;
  line-height: 102px;
  letter-spacing: 8px;
  text-align: left;
  margin-right: 200px;
  margin-bottom: 28px;
}
.party-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  line-height: 40px;
  margin-bottom: 40px;
}
.party-image {
  padding-right: 130px;
  margin-top: 70px;
}
.party-btn {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  background: none;
  border: none;
  padding-left: 20px;
}
/* location styles */
.location {
  border-radius: 19px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  height: 578px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 146px;
}

.location-description {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  line-height: 70px;
}
.place-name::before {
  content: "Place: ";
  color: red;
  margin-right: 5px;
}
.date::before {
  content: "Date:  ";
  color: red;
  margin-right: 5px;
}
.time::before {
  content: "Time:  ";
  color: red;
  margin-right: 5px;
}
.location-btn {
  margin-top: 60px;
  width: 167px;
  height: 56px;
  border-radius: 10px;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border: none;
}
/* Promotion Banner Styles */
.promo-banner {
  width: 100%;
  height: 556px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-bottom: 146px;
}
.special-offer {
  width: 472px;
  height: 306px;
}
.offer-title {
  color: rgb(255, 0, 0);
  font-size: 29px;
  font-weight: 500;
  margin-bottom: 20px;
}
.offer-header {
  color: rgb(7, 2, 17);
  font-family: "Merriweather", serif;
  font-size: 62px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 28px;
}
.offer-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}
.offer-image {
  width: 556px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer-img {
  border: 18px solid rgb(255, 0, 0);
  border-radius: 50%;
  position: cover;
  width: 436px;
  height: 436px;
  padding: 40px;
}
.offer-subtitle {
  /* background-color: gray; */
  width: 331px;
}
.subtitle-header {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 62px;
  font-weight: 700;
  text-align: left;
  margin: 134px 0 20px;
}
.subtitle-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  margin-bottom: 51px;
}
